<html>
<body>

    {% if dev_list %}
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Experience</th>
                <th>Country</th>
            </tr>

            {% for dev in dev_list %}
            <tr>
                <td>{{dev.devName}}</a></td>
                <td>{{ dev.experience }}</td>
                <td>{{ dev.country }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h1>No Data in Developers</h1>    
    {% endif %}

</body>
</html>